.visiter{width: 100%; height: 70px; position: relative;}
.myicon{position: absolute; right: 2px; top: 3px; cursor: pointer;}
.visit_content{cursor: pointer; position: absolute; left: 5px; top: 5px; width: 90%; height: 90%;}
.v-avatar{position: absolute; left: 2px; top: 5px; border-radius: 99%;}
.w-avatar{position: absolute; left: 10px; top: 10px;}
.cu_pic{border-radius: 99%;}
.wait_name{position: absolute; left: 64px; top: 10px; font-size: 14px;}
.waiter{width: 100%; height: 60px; padding: 12px; position: relative;}
.newmsg{position: absolute; top: 32px; left: 64px; font-size: 14px; color: #8D8D8D; width: 150px; height: 20px; overflow: hidden;}
.newmsg img{ max-height: 22px; }
.c_name{position: absolute; left: 64px; top: 5px; font-size: 15px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: calc(100% - 50px);}
.mygeticon{display: inline-block; width: 20px; height: 20px; background: url('get.png')/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/get.png*/; background-size: 100%; position: absolute; top: 33px; right: 20px; cursor: pointer;}
.onclick{background: #f8f8f8;}
.check{background: #f8f8f8;}  
.onclicks{background: #f8f8f8;}
.no_chats,.no_history{position: absolute; top: 300px; left: 50%; top: 50%; margin-left: -60px;margin-top: -70px;}
.no_chats-pic{display: inline-block; width: 120px; height: 125px; background: url('bgspirt.png')/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/bgspirt.png*/ no-repeat; background-position: 2px -5px;}
.no_chats p,.no_history p{text-align: center; color: #999; font-size: 13px;}
.no_history_icon{display: inline-block; width: 120px; height: 125px; background: url('bgspirt.png')/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/bgspirt.png*/ no-repeat; background-position:-120px -5px;}
.notice-icon{display: inline-block; color: #FFFFFF; position: absolute; right: 2px; top: 20px; width: 16px; height: 16px; background: #FF6262; margin-top:15px; text-align: center; border-radius: 16px;}
.chathead{width: 100%; height: 40px; border-bottom: 1px solid #ddd;}
.chathead a{position: absolute; right: 2%; top: 10px; font-size: 15px; cursor: pointer;}
.chatinfo{width: 30%; height: 100%; position: absolute; right: 0px; background: #fff;}
.chatinfo .layui-tab-content{ font-size: 13px; }
.chatinfo .layui-tab-content .record{white-space: normal; word-break: break-all;}
.hide{display: none;}
.chatmsg img{max-width: 100px; max-height: 200px; cursor: pointer;}
.chatmsg video { max-width: 120px; max-height: 120px; cursor: pointer;}

.customer pre>img{ width: 22px; height: 22px; }
.history{text-align: center; font-size: 12px;}
.fangke{position: relative; width: 100%; height: 60px; border-bottom: 1px solid #ddd; cursor: pointer;}
.f_img{position: absolute; top: 8px; left: 5px;}
.f_name{position: absolute; left: 22%; top: 20%; font-size: 15px;}
.history a{text-decoration: none; color: #DFD7D7;}
#text_in img,.emo-img{max-width: 22px !important; max-height: 22px;}
.myimg img{width: 100%; height: 100%}
.footer_main{width: 100%; height: 45px; background: #2f4050; position: absolute; bottom: 0;}
.infomation{position: absolute; left: 10px; height: 45px;}
#info_form{margin: 20px auto; width: 500px; height: 360px;}
#info_form table{width: 90%; height: 80%;}
.edit-ipt{width: 99%; height: 100%; resize: none; white-space: pre-wrap;}
.tool_box{width: 272px; height: 195px; position: absolute; bottom: 182px; border: 1px solid #ddd; display: none; background: #fff;}
.icon_gray{-webkit-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%); filter: gray;}
.wl_faces_main ul{margin: 5px 5px; overflow: hidden; border-top: 1px #CCC solid; border-left: 1px #CCC solid; width: 261px;}
.wl_faces_main ul li{float: left; border-right: 1px #CCC solid; border-bottom: 1px #CCC solid; height: 30px; width: 26px; text-align: center;}
.wl_faces_main ul li img{width: 22px; height: 22px; padding: 0px;}
.message{position: absolute; top: 50px; left: 1%; width: 98%;}
.msgbox{width: 100%; height: 100px; margin-top: 20px; border: 1px solid #ddd;}
.msgbox dl{height: 40px; border-bottom: 1px dotted #ddd; font-size: 16px; font-family: "微软雅黑"; line-height: 36px;}
.msgtext{font-size: 12px; color: #666; line-height: 25px;}
.msgbox span{margin-right: 10px;}
.v_content{max-width: 200px; height: auto; overflow: auto;}
.v_content img{max-width: 120px; max-height: 12px; min-height: 30px; min-width: 30px;}
.my-circle{border-radius: 30px;}
.img_left{position: relative; top: 0px;}
/*首页模块分隔*/
.tab-box{display: flex; margin:10px 0 40px 0;  overflow: hidden;}
.databox{border: 1px solid #ddd; flex: 1; height: 145px; margin-right: 15px; float: left;}
.databox:last-child{margin-right: 0px;}
/*首页四模块样式*/
.line-top{width: 100%; height: 85px; padding: 25px 40px}
.line-top p{text-align: center; margin-bottom: 5px;}
.line-top p.data_title{font-size: 13px;}
.data_content{font-size: 20px; color: #FE9B30;}
.line-bottom{border-top:1px solid #ddd;width:100%;height: 58px; background:#F8f8f8;padding-top: 20px;padding-bottom: 20px;}
.line-bottom p{text-align: center;}
.line-bottom p span.data_title{margin-right:7px;}
.record-tab{width: 90%; min-height: 60px; height: auto; border: 1px solid #ddd; position: relative; background: #f3f3f4; margin-bottom: 5px;}
.time_data{position: relative; left: 5px; top: 10px; width: 50px; text-align: center;}
.re_head{width: 100%; hieght: 40%; line-height: 35px;}
.re_head a{margin-right: 2px;}
.re_content{width: 100%; height: 40%; line-height: 26px;}
.re_tool{margin: 15px auto; width: 60%; height: 50%;}
.re_time{margin: 13px auto; width: 85%; height: 20px;}
.tab_time{position: absolute; left: 0px; width: 10%; height: 100%;}
.tab_content{position: absolute; left: 10%; width: 70%; height: 100%;}
.tab_delect{position: absolute; left: 90%; width: 10%; height: 100%}
.showup div{float: left;}
.passform{width: 80%; margin: 20px auto; line-height: 50px;}
.wolive_product{display:block; width:480px; height:100%; position:relative; max-width: 100%;}
.wolive_img{width: 30%; max-width: 85px;}
.wolive_product .wolive_img img{max-width: 85px; max-height: 85px;}
.wolive_head{width:75%; position:absolute; right:0px; top:0px; left: 100px; bottom: 0;}
.wolive_title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.wolive_price{position:absolute; left: 0; bottom: 0; color: red;}
.wolive_info{ color: #999; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; line-clamp: 3; -webkit-box-orient: vertical;}
.setting-list{display: flex;}
.region-item{min-height: 24px; flex: 1; float: left; margin-right: 10px; display: inline-block; background: #f8f8f8; padding: 16px; margin-bottom: 10px;}
.region-item:nth-child(2n){margin-right: 0px;}
.region-item .region-container{display: flex;}
.region-item .region-icon{width: 64px; display: inline-block;}
.region-item .region-icon.icon1{background: url(set-icon1.png)/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/set-icon1.png*/ no-repeat;}
.region-item .region-icon.icon2{background: url(set-icon2.png)/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/set-icon2.png*/ no-repeat;}
.region-item .region-icon.icon3{background: url(set-icon3.png)/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/set-icon3.png*/ no-repeat;}
.region-item .region-icon.icon4{background: url(set-icon4.png)/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/set-icon4.png*/ no-repeat;}
.region-item .region-icon.icon5{background: url(set-icon5.png)/*tpa=https://d009.kf.yunmall.68mall.com/assets/images/admin/set-icon5.png*/ no-repeat;}
.region-item .region-icon img{width: 36px; margin-left: 10px;}
.region-item .region-content{flex: 1;}
.region-item .region-content .region-mainline{font-size: 20px; line-height: 36px; position: relative;}
.region-item .region-content .region-desc{line-height: 20px; color: #909090; margin-top: 10px;}
.region-item .region-switch{min-width: 48px;}
.region-item .region-content .region-mainline .am-icon-play-circle{font-size: 18px; cursor: pointer; color: #999;}

/*设置页面*/
.page-padding .part{ overflow: hidden; margin-bottom: 40px;}
.page-padding .page-header{ margin: 0px 0 20px;font-size: 18px; padding: 16px 0;}
.page-padding .part-item{ width: 100px;height: 100px;position: relative; text-align: center; background: #fff; border: 1px solid #ddd;cursor: pointer;float: left;margin:10px;}
.page-padding .part-item a{ display: block; cursor: pointer; width: 100%; height: 100%;}
.page-padding .part-item i{ font-size: 48px; display: block;width: 100%;}
.page-padding .part-item i span{ display: block;}